---
---

@import "{{ site.theme }}";
ul.sticky {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.sticky li {
  float: left;
}

ul.sticky li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.sticky li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D; }

table, tr, td{
 border:none;
}
